.modal-class {
    opacity: 0.9;
}

.backdrop-class {
    background-color: white;
}

.content-class {
    max-width: 700px;
}

.body-class {
    padding: 40px;
    font-size: 20px;
    text-align: center;
}

.footer-class {
    text-align: center;
}