body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  color: black;
}

pre[class*="language-"] {
  background: white;
}

.component {
  color: #1890ff;
  font-weight: bold;
}

.text-black {
  color: black;
}

.text-blackblue {
  color: #04919F;
}

code.inline {
  margin: 0 1px;
  background: #f2f4f5;
  padding: .2em .4em;
  border-radius: 3px;
  font-size: .9em;
  border: 1px solid #eee;
}

h1 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 8px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 1.6em 0 .6em;
  font-weight: 500;
}

.brand {
  font-weight: 100;
  font-size: 18px;
  letter-spacing: .2em;
  margin: 10px 25px 10px 0;
  color: #2AC8AA;
  transition: color 0.3s;
  border: 1px solid #FFF;
  border-image: linear-gradient(20deg,  #384453 20%, #2391A1 33%, #82e3d9);
  border-image-slice: 1;
}

.brand a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.brand a:hover,
.brand a:active,
.brand a:focus {
  color: #2AC8AA;
  text-decoration: none;
}

.brand span {
  padding-top: 5px;
}

.brand img {
  width: 37px;
  height: 40px;
  padding: 4px;
  margin: 0 15px 0 0;
}

.header-links a {
  color: rgba(255, 255, 255, 0.65);
  font-size: 40px;
  justify-self: end;
  padding-left: 8px;
  padding-right: 8px;
}

.header-links a:hover {
  color: white;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.ant-layout {
  background: #FFF;
}

.p-15px {
  padding: 15px 15px !important;
}


/* ant design overrides */
a {
  color: #2AB8AA;
}

a:hover,
a:focus {
  color: #2391A1;
}

a:active {
  color: #169DA8;
}

.ant-btn:hover,
.ant-btn:active,
.ant-btn:focus {
  color: #2AB8AA;
  border-color: #2AB8AA;
}

.ant-btn-primary {
  background-color: #2AB8AA;
  border-color: #2AB8AA;
}

.ant-btn-primary:hover,
.ant-btn-primary:active,
.ant-btn-primary:focus {
    background-color: #2391A1;
    color: #FFF;
    border-color: #2391A1;
}

.ant-menu-item > a:hover {
  color: #2391A1;
}

.ant-menu-item:after {
  border-right: 3px solid #2391A1 !important;
}

.ant-menu-item-selected > a,
.ant-menu-item-selected > a:hover {
  /* font-weight: 500; */
  color: #2391A1;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #eaf8fa;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:active,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-image: linear-gradient(to right, #eafaf9, #d5f1f6);
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #2AB8AA;
  background-image: linear-gradient(to right, #2391A1, #2AB8AA);
}